
/* ====== Wrapper for entire sliding panel ====== */

#sliding-panel {
	position: absolute;
	top:      0;
	display:  none;
	width:    100%;
	z-index:  9999;
}

	.admin-bar #sliding-panel { top: 28px; }

	.admin-bar.mp6 #sliding-panel { top: 32px; }

		@media screen and ( max-width: 782px ) {

			.admin-bar.mp6 #sliding-panel { top: 46px; }
		}

	/* === Inner wrapper for sliding panel === */

	.sp-wrap {
		position: absolute;
		width:    100%;
	}

		/* === Sliding Panel sidebar === */

		#sidebar-sliding-panel {
			display:    none;
			overflow:   hidden;
			width:      100%;
			background: #000;
		}

			#sidebar-sliding-panel .sp-sidebar-wrap {
				overflow:  hidden;
				max-width: 1200px;
				margin:    0 auto;
				padding:   50px 0 25px;
			}

				/* Widgets */

				#sidebar-sliding-panel .widget {
					overflow:   hidden;
					float:      left;
					width:      30%;
					margin:     0 1.5%;
					padding:    0;
					color:      #888;
					background: transparent;

						-moz-box-sizing: border-box;
					box-sizing: border-box;
				}

					#sidebar-sliding-panel .widget:nth-child( 4n + 4 ) {
						clear: both;
					}

					@media only screen and ( max-width: 768px ) {

						#sidebar-sliding-panel .widget { 
							width: 47%; 
						}

						#sidebar-sliding-panel .widget:nth-child( 4n + 4 ) { 
							clear: none; 
						}

						#sidebar-sliding-panel .widget:nth-child( odd ) { 
							clear: both; 
						}
					}

					@media only screen and ( max-width: 480px ) {

						#sidebar-sliding-panel .widget {
							clear: both;
							width: 94%;
						}
					}

						#sidebar-sliding-panel .widget-title {
							padding:        0;
							color:          #888;
							text-transform: none;
							background:     transparent;
							border:         none;
						}

						#sidebar-sliding-panel a {
							color:           #fff;
							text-decoration: none;
						}

						#sidebar-sliding-panel a:hover {
							text-decoration: underline;
						}

		/* === Toggle button ==== */

		.sp-toggle {
			clear:      both;
			max-width:  1200px;
			margin:     0 auto;
		}

			.sp-toggle a {
				display:    inline-block;
				float:      right;
				padding:    10px 35px;
				color:      #d3d3d3;
				background: #000;
			}

			.sp-toggle a:hover { color: #d3d3d3; }

				@media only screen and ( max-width: 480px ) {

					.sp-toggle { text-align: center; }

					.sp-toggle a {
						float: none;
						margin: 0 auto;
					}
				}